<header>
    <nav>
        <ul>
            <li class="header-title"><a href="{{ path('homepage') }}">Back Pressurized Octopus</a></li>
            <li class="header-options"><a href="{{ path('temps_show') }}">Temps</a></li>
            <li class="header-options"><a href="{{ path('profondeur_show') }}">Profondeur</a></li>
            <li class="header-options"><a href="{{ path('table_show') }}">Tables</a></li>
            
        </ul>    
    </nav>
</header>
<br><br><br><br>
