<nav>
    <ul>
        <li style="float:left"><h4> Back Pressurized Octopus</h4></li>
        <li><a href="#">Tables</a></li>
        <li><a href="#">Profondeur</a></li>
        <li><a href="#">Temps</a></li>
    </ul>    
</nav>
    
