<nav>
    <ul>
        <li class="header-title"><a href="{{ path('homepage') }}">Back Pressurized Octopus</a></li>
        <li class="header-options"><a href="{{ path('temps') }}">Temps</a></li>
        <li class="header-options"><a href="{{ path('profondeur') }}">Profondeur</a></li>
        <li class="header-options"><a href="{{ path('table_show') }}">Tables</a></li>
        
    </ul>    
</nav>
<br><br><br><br><br><br>
