{% extends "base.html.twig" %}

{% set page_title = 'Homepage' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/homepage.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="main"> 
        <div class="wrapper-inside">
            <h3> HELLO, ça va </h3>
        </div>
    </div>
{% endblock %}