.choices {
	display: flex;
	font-family: sans-serif;
	align-items: baseline;
	width: 50%;
	justify-content: space-between;
}

.radio {
	display: inline-flex;
	align-items: flex-end;
	justify-content: space-between;
}

.table {
	display: flex;
	justify-content: center;
}

.table-result {
	width: 80%;
	margin-top: 20px;
	font-family: sans-serif;
}

.table-result-header {
	display: flex;
	width: 100%;
	background-color: black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.table-result-th, .table-result-data {
	flex: 1 1 10%;
	text-align: center;
	padding: 12px;
	color: white;
}

.table-result-th{
	font-weight: bold;
}

.table-result-row {
	width: 100%;
	display: flex;
	background: rgba(51,91,128,0.8);
}

.profondeur {
	color: yellow;
	font-weight: bold;
}