.choices {
	display: inline-flex;
	align-items: flex-end;
	font-family: sans-serif;
}

.radio {
	display: inline-flex;
	align-items: flex-end;
}

tr {
	border: 1px solid white
}

td {
	color: white;
}